<head><title>aa </title></head>
<body style="background-image:url('/bg.jpg'); background-size:100%">

<a href="/myloc" style=text-decoration:none;><div class="currentBtn"><img src='/mylocation_ico.png'></div></a>
<a href="/myloc" style=text-decoration:none;><div class="landmarkBtn">pick landmark!</div></a>

<!--<a href="/myloc"><img src="/currentBtn.png"-->
<!--                    style="float: left;-->
<!--                    height: 80px;-->
<!--                    width: 350px;height: 340px;-->
<!--                    margin-top:250px;-->
<!--                    margin-left:250px;-->
<!--                    margin-right:100px;"-->
<!--                    ></a>-->
                
<!--<a hre="/myloc"><img src="landmarkBtn.png"-->
<!--                    style="float: right;-->
<!--                    height: 80px;-->
<!--                    width: 350px;height: 340px;-->
<!--                    margin-top:250px;-->
<!--                    margin-left:250px;-->
<!--                    margin-right:200px;"-->
                    
<!--                    ></a>                    -->

            
                    
</body>