<head><title>EATTO</title></head>
<meta http-equiv='refresh' content='3; url=/result'>


<body style="background-image:url('/bg.jpg'); background-size:100%">
     <!--<a href="/index"><img src="/clear.png" style="width:100%; height:100%;"></a>-->
<div class="wrapper">
  <div class="yellow ball">e</div>
  <div class="blue ball">a</div>
  <div class="red ball">t</div>
  <div class="yellow ball">t</div>
  <div class="green ball">o</div>
</div>s