<head><title>EATTO</title></head>

<body style="background-image:url('/bg.jpg'); background-size:100%">
    <div>
      <h1 style="text-align:center;"></h1>
      <div class="wrapper">
        <div class="yellow ball">R</div>
        <div class="red ball">E</div>
        <div class="blue ball">S</div>
        <div class="yellow ball">U</div>
        <div class="red ball">L</div>
        <div class="green ball">T</div>
      </div>
    </div>

    <div style="margin-top:100px;">
      <

      
    </div>
    
    
    
    <br><br><br><br><br><br><br><br>
      <a href = "/start.html" 
      style="margin-left:700px; text-decoration:none; color:black; 
      border-style:solid; border-color:black; 
      padding-left:30px; padding-right:30px; padding-top:10px; padding-bottom:10px;"> 
      처음으로 </a>

</body>