<head><title>EATTO</title></head>

<meta http-equiv='refresh' content='4; url=/loading.html'>
<body style="background-image:url('/bg.jpg'); background-size:100%">
<img src="/lotto.gif" style="margin-left:400px; margin-top:150px;">