<head><title>EATTO</title></head>

<body style="background-image:url('/start.jpg'); background-size:100%">
    <a href="/index">
        <img src="/clear.png" style="width:100%; height:100%;">
    </a>
</body>